<!DOCTYPE html>
<html>
    <head>
        <title>Beanfest FFA</title>
        <link rel="icon" href="{{ url_for('static', filename='bean_icon.png') }}">
        <script src="{{ url_for('static', filename='jquery.js') }}"></script>
        <script src="https://cdn.socket.io/socket.io-1.0.0.js"></script>
        <script src="{{ url_for('static', filename='beanfest.js') }}"></script>
        <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='beanfest.css') }}"/>
    </head>
    <body style="overflow:hidden">
        <div id='players' style='cursor: crosshair'>

        </div>
        <div id='bullets' style='cursor: crosshair'>

        </div>
        <div id='menu' class='menu'>
            <img id='beanfest_logo' src="{{ url_for('static', filename='beanfest_logo.png') }}">
            <h2 id='error' style='text-align: center'>Enter Username:</h3>
            <input id='username' class='username_input' placeholder='username'></input><br>
            <button id='playbutton' class='block' style='position:absolute;'>Loading...</button>
        </div>
        <img id='background' class='background' onload="load_background()" src="{{ url_for('static', filename='bean_map.png') }}">
    </body>
</html>